---
- name: "remove existing manual intervention log file if present"
  ansible.builtin.file:
    path: "{{ manual_intervention_log }}"
    state: absent

- name: "Create log file for manual intervention tasks."
  ansible.builtin.blockinfile:
    path: "{{ manual_intervention_log }}"
    create: yes
    mode: '0644'
    marker: ""
    block: |
      ########################################################################################
      #                                                                                      #
      #                 This file contains a list of tasks requiring manual                  #
      #                intervention after the hardening script has completed.                #
      #                                                                                      #
      #  The file is located on the remote server at: {{ manual_intervention_log }}          #
      #                                                                                      #
      ########################################################################################

- name: "Build a list of currently mounted partitions."
  ansible.builtin.set_fact:
    prelim_mount_names: "{{ ansible_facts.mounts | map(attribute='mount') | list }}"

- name: "Read and register current mount options."
  block:
    - name: "Read current mount options."
      ansible.builtin.shell: |
        mount | awk '{print $1, $3, $5, $6}'
      changed_when: false
      check_mode: false
      register: prelim_mount_output

    - name: "Register fact with current mount options."
      ansible.builtin.set_fact:
        prelim_mount_point_fs_and_options: >-
          {%- set prelim_mount_point_fs_and_options = {} -%}
          {%- for line in prelim_mount_output.stdout_lines -%}
          {%- set fields = line.split() -%}
          {%- set _ = prelim_mount_point_fs_and_options.update({fields[1]: {'src': fields[0], 'fs_type': fields[2], 'original_options': fields[3][1:-1].split(','), 'options': fields[3][1:-1].split(',')}}) -%}
          {%- endfor -%}
          {{ prelim_mount_point_fs_and_options }}

- name: "Check systemd coredump"
  ansible.builtin.stat:
    path: /etc/systemd/coredump.conf
  register: prelim_systemd_coredump

- name: "Set facts based on boot type"
  block:
    - name: "Check whether machine is UEFI-based"
      ansible.builtin.stat:
        path: /sys/firmware/efi
      register: prelim_efi_boot

    - name: "Set legacy boot and grub path | Bios"
      when: not prelim_efi_boot.stat.exists
      ansible.builtin.set_fact:
        rhel9cis_legacy_boot: true
        grub2_path: /etc/grub2.cfg

    - name: "Set grub fact | UEFI"
      when: prelim_efi_boot.stat.exists
      ansible.builtin.set_fact:
        grub2_path: /etc/grub2-efi.cfg

- name: "Discover Gnome Desktop Environment"
  tags: always
  ansible.builtin.stat:
    path: /usr/share/gnome/gnome-version.xml
  register: prelim_gnome_present

- name: "Install dconf if gui installed"
  when: rhel9cis_gui
  tags: always
  ansible.builtin.package:
    name: dconf
    state: present

- name: "Wireless adapter pre-requisites"
  when:
    - rhel9cis_rule_3_1_2
  block:
    - name: "Discover is wireless adapter on system"
      ansible.builtin.command: find /sys/class/net/*/ -type d -name wireless
      register: discover_wireless_adapters
      changed_when: false
      check_mode: false
      failed_when: discover_wireless_adapters.rc not in [ 0, 1 ]

    - name: "Install Network-Manager if wireless adapter present"
      when:
        - discover_wireless_adapters.rc == 0
        - "'NetworkManager' not in ansible_facts.packages"
      ansible.builtin.package:
        name: NetworkManager
        state: present

- name: "sshd_config.d/50-redhat.conf exists"
  when: rhel9cis_rule_5_1_10 or rhel9cis_rule_5_1_11
  ansible.builtin.stat:
    path: /etc/ssh/sshd_config.d/50-redhat.conf
  register: prelim_sshd_50_redhat_file
  
- name: "Capture pam security related files"
  tags: always
  ansible.builtin.find:
    paths:
      - /etc/security/pwquality.conf.d/
    patterns: '*.conf'
  register: prelim_pam_pwquality_confs

- name: "Check authselect profile is selected"
  when: rhel9cis_allow_authselect_updates
  block:
    - name: "Check authselect profile name has been updated | Ensure name from default is changed"
      ansible.builtin.assert:
        that: rhel9cis_authselect_custom_profile_name != 'cis_custom_profile'
        fail_msg: "You still have the default name for your authselect profile"

    - name: "Check authselect profile is selected | Check current profile"
      ansible.builtin.command: authselect list
      changed_when: false
      failed_when: prelim_authselect_current_profile.rc not in [ 0, 1 ]
      register: prelim_authselect_current_profile

- name: "Interactive Users"
  ansible.builtin.shell: >
    grep -E -v '^(root|halt|sync|shutdown)' /etc/passwd | awk -F: '(!index($7, "sbin/nologin") && $7 != "/bin/nologin" && $7 != "/bin/false" && $7 != "/dev/null") { print $1":"$3":"$6 }'
  changed_when: false
  check_mode: false
  register: prelim_interactive_users_raw

- name: "Interactive Users (reformat)"
  ansible.builtin.set_fact:
    prelim_interactive_users: "{{ prelim_interactive_users | default([]) + [dict([('username', item.split(':')[0]), ('uid', item.split(':')[1]), ('home', item.split(':')[2])])] }}"
  loop: "{{ prelim_interactive_users_raw.stdout_lines }}"

- name: "Interactive User accounts home directories"
  ansible.builtin.shell: >
    grep -E -v '^(root|halt|sync|shutdown)' /etc/passwd | awk -F: '(!index($7, "sbin/nologin") && $7 != "/bin/nologin" && $7 != "/bin/false" && $7 != "/dev/null") { print $6 }'
  changed_when: false
  check_mode: false
  register: prelim_interactive_users_home

- name: "Interactive UIDs"
  ansible.builtin.shell: >
    grep -E -v '^(root|halt|sync|shutdown)' /etc/passwd | awk -F: '(!index($7, "sbin/nologin") && $7 != "/bin/nologin" && $7 != "/bin/false") { print $3 }'
  changed_when: false
  check_mode: false
  register: prelim_interactive_uids

- name: "Capture /etc/password variables"
  ansible.builtin.include_tasks:
    file: parse_etc_password.yml

- name: "Gather UID 0 accounts other than root"
  when: rhel9cis_rule_5_4_2_1
  ansible.builtin.shell: "cat /etc/passwd | awk -F: '($3 == 0 && $1 != \"root\") {i++;print $1 } END {exit i}'"
  changed_when: false
  check_mode: false
  register: prelim_uid_zero_accounts_except_root

- name: "Ensure root password is set"
  when: rhel9cis_rule_5_4_2_4
  block:
    - name: "Ensure root password is set"
      ansible.builtin.shell: LC_ALL=C passwd -S root | grep -E "(Password set|Password locked)"
      changed_when: false
      failed_when: prelim_root_passwd_set.rc not in [ 0, 1 ]
      register: prelim_root_passwd_set

    - name: "Ensure root password is set"
      ansible.builtin.assert:
        that: prelim_root_passwd_set.rc == 0
        fail_msg: "You have rule 5.4.2.4 enabled this requires that you have a root password set"
        success_msg: "You have a root password set"