---
- name: "Ensure updates, patches, and additional security software are installed"
  ansible.builtin.package:
    name: "*"
    state: latest
  when: rhel9cis_rule_1_2_2_1
  
- name: "Check if system requires reboot after package updates"
  block:
    - name: "Check if reboot is required"
      ansible.builtin.shell: yum needs-restarting -r
      register: reboot_required
      changed_when: false
      failed_when: false

    - name: "Report the need for a system reboot if required"
      when: reboot_required.rc == 1
      tags:
        - level1-server
        - rule_1.2.2.1
        - severity_medium
      ansible.builtin.debug:
        msg: "System requires a reboot to apply updates. Please reboot the system at the earliest convenience."
      notify: Change_requires_reboot
  when: rhel9cis_rule_1_2_2_1