---
- name: "Ensure SELinux package is installed"
  ansible.builtin.package:
    name: libselinux
    state: present
  when: rhel9cis_rule_1_3_1_1

- name: "Ensure SELinux is not disabled in bootloader configuration"
  ansible.builtin.replace:
    path: /etc/default/grub
    regexp: '{{ item }}'
    replace: ''
  loop:
    - selinux=0
    - enforcing=0
  ignore_errors: true  
  notify: Grub2cfg
  when: rhel9cis_rule_1_3_1_2

- name: "Ensure SELinux mode and policy are set as required ({{ rhel9cis_selinux_pol }}, {{ rhel9cis_selinux_enforce }})"
  ansible.posix.selinux:
    conf: /etc/selinux/config
    policy: "{{ rhel9cis_selinux_pol }}"
    state: "{{ rhel9cis_selinux_enforce }}"
  when: rhel9cis_rule_1_3_1_3_5

- name: "Ensure no unconfined services exist"
  vars:
    warn_control_id: '1.3.1.6'
  block:
    - name: "Find the unconfined services"
      ansible.builtin.shell: ps -eZ | grep unconfined_service_t | grep -Evw "tr|ps|egrep|bash|awk" | tr ':' ' ' | awk '{ print $NF }'
      register: discovered_unconf_services
      failed_when: false
      changed_when: false

    - name: "Message on unconfined services"
      when: discovered_unconf_services.stdout | length > 0
      ansible.builtin.debug:
        msg: "Warning!! You have unconfined services: {{ discovered_unconf_services.stdout_lines }}"

    - name: "Create a log entry for manual intervention"
      when: discovered_unconf_services.stdout | length > 0
      ansible.builtin.blockinfile:
        path: "{{ manual_intervention_log }}"
        create: yes
        mode: '0644'
        marker: ""
        block: |
          Recommendations for task "{{ warn_control_id }}":
          ------------------------------------------------------------------------
          You have unconfined services: "{{ discovered_unconf_services.stdout_lines }}"
          Configure SELinux policies for these services to ensure they are confined appropriately.
          Refer to the organization's SELinux policy guidelines for assistance.
          You can scan for unconfined services using the command: ps -eZ | grep unconfined_service_t | grep -Evw "tr|ps|egrep|bash|awk" | tr ':' ' ' | awk '{ print $NF }'
  when: rhel9cis_rule_1_3_1_6

- name: "Ensure MCS Translation Service (mcstrans) is not installed"
  ansible.builtin.package:
    name: mcstrans
    state: absent
  when: rhel9cis_rule_1_3_1_7

- name: "Ensure SETroubleshoot is not installed"
  ansible.builtin.package:
    name: setroubleshoot
    state: absent
  when: 
    - "'setroubleshoot' in ansible_facts.packages" 
    - rhel9cis_rule_1_3_1_8
