---
- name: "Ensure permissions on /etc/ssh/sshd_config are configured"
  ansible.builtin.file:
    path: "/etc/ssh/sshd_config"
    owner: root
    group: root
    mode: 'go-rwx'
  when: rhel9cis_rule_5_1_1

- name: "Ensure permissions on SSH private host key files are configured"
  block:
    - name: "Ensure permissions on SSH private host key files are configured | Find the SSH private host keys"
      ansible.builtin.find:
        paths: /etc/ssh
        patterns: 'ssh_host_*_key'
        recurse: true
        file_type: any
      register: discovered_ssh_private_host_key

    - name: "Ensure permissions on SSH private host key files are configured | Set permissions on SSH private host keys"
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: root
        group: "{{ 'ssh_keys' if (item.gr_name == 'ssh_keys') else 'root' }}"
        mode: "{{ 'u-x,g-wx,o-rwx' if (item.gr_name == 'ssh_keys') else 'u-x,go-rwx' }}"
      loop: "{{ discovered_ssh_private_host_key.files }}"
      loop_control:
        label: "{{ item.path }}"
  when: rhel9cis_rule_5_1_2

- name: "Ensure permissions on SSH public host key files are configured"
  block:
    - name: "Ensure permissions on SSH public host key files are configured | Find the SSH public host keys"
      ansible.builtin.find:
        paths: /etc/ssh
        patterns: 'ssh_host_*_key.pub'
        recurse: true
        file_type: any
      register: discovered_ssh_public_host_key

    - name: "Ensure permissions on SSH public host key files are configured | Set permissions on SSH public host keys"
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: root
        group: root
        mode: 'u-x,go-wx'
      loop: "{{ discovered_ssh_public_host_key.files }}"
      loop_control:
        label: "{{ item.path }}"
  when: rhel9cis_rule_5_1_3

- name: "Ensure sshd Ciphers are configured"
  block:
    - name: "Ensure sshd Ciphers are configured | Add submodule exclusion"
      ansible.builtin.debug:
        msg: "Crypto policy FUTURE already excludes weak ciphers, no need to add submodule exclusion for sshd Ciphers"
  when: rhel9cis_rule_5_1_4

- name: "Ensure sshd KexAlgorithms is configured"
  block:
    - name: "Ensure sshd KexAlgorithms is configured | Add submodule exclusion"
      ansible.builtin.debug:
        msg: "Crypto policy FUTURE already excludes weak KexAlgorithms, no need to add submodule exclusion for sshd KexAlgorithms"
  when: rhel9cis_rule_5_1_5

- name: "Ensure sshd MACs are configured"
  block:
    - name: "Ensure sshd MACs are configured | Add submodule exclusion"
      ansible.builtin.debug:
        msg: "Crypto policy FUTURE already excludes weak MACs, no need to add submodule exclusion for sshd MACs"
  when: rhel9cis_rule_5_1_6

- name: "Ensure sshd access is configured"
  block:
    - name: "Ensure sshd access is configured | Add line to sshd_config for allowgroups"
      when: "rhel9cis_sshd_allowgroups | length > 0"
      ansible.builtin.lineinfile:
        path: "{{ rhel9cis_sshd_config_file }}"
        regexp: "^AllowGroups"
        line: "AllowGroups {{ rhel9cis_sshd_allowgroups }}"
        validate: sshd -t -f %s
      notify: Restart sshd

    - name: "Ensure sshd access is configured | Add line to sshd_config for denyusers"
      when: "rhel9cis_sshd_denyusers | length > 0"
      ansible.builtin.lineinfile:
        path: "{{ rhel9cis_sshd_config_file }}"
        regexp: "^DenyUsers"
        line: "DenyUsers {{ rhel9cis_sshd_denyusers }}"
        insertbefore: "^Match"
        firstmatch: true
        validate: sshd -t -f %s
      notify: Restart sshd

    - name: "Ensure sshd access is configured | Add line to sshd_config for denygroups"
      when: "rhel9cis_sshd_denygroups | length > 0"
      ansible.builtin.lineinfile:
        path: "{{ rhel9cis_sshd_config_file }}"
        regexp: "^DenyGroups"
        line: "DenyGroups {{ rhel9cis_sshd_denygroups }}"
        validate: sshd -t -f %s
      notify: Restart sshd
  when: rhel9cis_rule_5_1_7

- name: "Ensure sshd Banner is configured"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: '^Banner'
    line: 'Banner /etc/issue.net'
  when: rhel9cis_rule_5_1_8

- name: "Ensure sshd ClientAliveInterval and ClientAliveCountMax are configured"
  block:
    - name: "Ensure sshd ClientAliveInterval and ClientAliveCountMax are configured | Add line in sshd_config for ClientAliveInterval"
      ansible.builtin.lineinfile:
        path: "{{ rhel9cis_sshd_config_file }}"
        regexp: '^ClientAliveInterval'
        line: "ClientAliveInterval {{ rhel9cis_sshd_clientaliveinterval }}"
        validate: sshd -t -f %s
      notify: Restart sshd

    - name: "Ensure sshd ClientAliveInterval and ClientAliveCountMax are configured | Ensure SSH ClientAliveCountMax set to <= 3"
      ansible.builtin.lineinfile:
        path: "{{ rhel9cis_sshd_config_file }}"
        regexp: '^ClientAliveCountMax'
        line: "ClientAliveCountMax {{ rhel9cis_sshd_clientalivecountmax }}"
        validate: sshd -t -f %s
      notify: Restart sshd
  when: rhel9cis_rule_5_1_9

- name: "Ensure sshd DisableForwarding is enabled"
  block:
    - name: "Ensure sshd DisableForwarding is enabled | config file"
      ansible.builtin.lineinfile:
        path: "{{ rhel9cis_sshd_config_file }}"
        regexp: ^(#|)\s*DisableForwarding
        line: 'DisableForwarding yes'
        validate: sshd -t -f %s
      notify: Restart sshd

    - name: "Ensure sshd DisableForwarding is enabled | override"
      when: prelim_sshd_50_redhat_file.stat.exists
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config.d/50-redhat.conf
        regexp: (?i)^(#|)\s*X11Forwarding
        line: 'X11Forwarding {{ rhel9cis_sshd_x11forwarding }}'
        validate: sshd -t -f %s
      notify: Restart sshd
  when: rhel9cis_rule_5_1_10

- name: "Ensure sshd GSSAPIAuthentication is disabled"
  block:
    - name: "Ensure sshd GSSAPIAuthentication is disabled | redhat file"
      when: prelim_sshd_50_redhat_file.stat.exists
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config.d/50-redhat.conf
        regexp: (?i)^(#|)\s*GSSAPIAuthentication
        line: GSSAPIAuthentication no
        validate: sshd -t -f %s
      notify: Restart sshd

    - name: "Ensure sshd GSSAPIAuthentication is disabled | ssh config"
      ansible.builtin.lineinfile:
        path: "{{ rhel9cis_sshd_config_file }}"
        regexp: (?i)^(#|)\s*GSSAPIAuthentication
        line: GSSAPIAuthentication no
        validate: sshd -t -f %s
      notify: Restart sshd
  when: rhel9cis_rule_5_1_11

- name: "Ensure sshd HostbasedAuthentication is disabled"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: (?i)^(#|)\s*HostbasedAuthentication
    line: 'HostbasedAuthentication no'
    validate: sshd -t -f %s
  notify: Restart sshd
  when: rhel9cis_rule_5_1_12

- name: "Ensure sshd IgnoreRhosts is enabled"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: (?i)^(#|)\s*IgnoreRhosts
    line: 'IgnoreRhosts yes'
    insertbefore: "^Match"
    firstmatch: true
    validate: sshd -t -f %s
  notify: Restart sshd
  when: rhel9cis_rule_5_1_13

- name: "Ensure sshd LoginGraceTime is set to one minute or less"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: (?i)^(#|)\s*LoginGraceTime
    line: "LoginGraceTime {{ rhel9cis_sshd_logingracetime }}"
    insertbefore: "^Match"
    firstmatch: true
    validate: sshd -t -f %s
  notify: Restart sshd
  when: rhel9cis_rule_5_1_14

- name: "Ensure sshd LogLevel is appropriate"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: (?i)^(#|)\s*LogLevel
    line: 'LogLevel {{ rhel9cis_ssh_loglevel }}'
    insertbefore: "^Match"
    firstmatch: true
    validate: sshd -t -f %s
  notify: Restart sshd
  when: rhel9cis_rule_5_1_15

- name: "Ensure sshd MaxAuthTries is set to 4 or less"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: '^(#)?MaxAuthTries \d'
    line: 'MaxAuthTries {{ rhel9cis_ssh_maxauthtries }}'
    validate: sshd -t -f %s
  notify: Restart sshd
  when: rhel9cis_rule_5_1_16

- name: "Ensure sshd MaxStartups is configured"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: (?i)^(#|)\s*MaxStartups
    line: 'MaxStartups {{ rhel9cis_ssh_maxstartups }}'
    validate: sshd -t -f %s
  notify: Restart sshd
  when: rhel9cis_rule_5_1_17

- name: "Ensure SSH MaxSessions is set to 10 or less"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: (?i)^(#|)\s*MaxSessions
    line: 'MaxSessions {{ rhel9cis_ssh_maxsessions }}'
    validate: sshd -t -f %s
  notify: Restart sshd
  when: rhel9cis_rule_5_1_18

- name: "Ensure sshd PermitEmptyPasswords is disabled"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: (?i)^(#|)\s*PermitEmptyPasswords
    line: 'PermitEmptyPasswords no'
    validate: sshd -t -f %s
  notify: Restart sshd
  when: rhel9cis_rule_5_1_19

- name: "Ensure sshd PermitRootLogin is disabled"
  block:
    - name: "Ensure sshd PermitRootLogin is disabled | config file"
      ansible.builtin.lineinfile:
        path: "{{ rhel9cis_sshd_config_file }}"
        regexp: (?i)^(#|)\s*PermitRootLogin
        line: 'PermitRootLogin no'
        validate: sshd -t -f %s
      notify: Restart sshd

    - name: "Ensure sshd PermitRootLogin is disabled | override file"
      ansible.builtin.file:
        path: /etc/ssh/sshd_config.d/01-permitrootlogin.conf
        state: absent
      notify: Restart sshd
  when: rhel9cis_rule_5_1_20

- name: "Ensure sshd PermitUserEnvironment is disabled"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: (?i)^(#|)\s*PermitUserEnvironment
    line: 'PermitUserEnvironment no'
    validate: sshd -t -f %s
  notify: Restart sshd
  when: rhel9cis_rule_5_1_21

- name: "Ensure SSH PAM is enabled"
  ansible.builtin.lineinfile:
    path: "{{ rhel9cis_sshd_config_file }}"
    regexp: (?i)^(#|)\s*UsePAM
    line: 'UsePAM yes'
    validate: sshd -t -f %s
  notify: Restart sshd
  when: rhel9cis_rule_5_1_22