---
- name: "Ensure dccp kernel module is not available"
  block:
    - name: "Ensure dccp kernel module is not available | modprobe"
      ansible.builtin.lineinfile:
        path: /etc/modprobe.d/dccp.conf
        regexp: '^(#)?install dccp(\\s|$)'
        line: "{{ item }}"
        create: true
        mode: 'u-x,go-rwx'
      loop:
        - install dccp /bin/true
        - blacklist dccp

    - name: "Ensure dccp kernel module is not available | blacklist"
      ansible.builtin.lineinfile:
        path: /etc/modprobe.d/blacklist.conf
        regexp: "^(#)?blacklist dccp(\\s|$)"
        line: "blacklist dccp"
        create: true
        mode: 'u-x,go-rwx'
  when: rhel9cis_rule_3_2_1

- name: "Ensure tipc kernel module is not available"
  block:
    - name: "Ensure tipc kernel module is not available | modprobe"
      ansible.builtin.lineinfile:
        path: /etc/modprobe.d/tipc.conf
        regexp: '^(#)?install tipc(\\s|$)'
        line: "{{ item }}"
        create: true
        mode: 'u-x,go-rwx'
      loop:
        - install tipc /bin/true
        - blacklist tipc

    - name: "Ensure tipc kernel module is not available | blacklist"
      ansible.builtin.lineinfile:
        path: /etc/modprobe.d/blacklist.conf
        regexp: "^(#)?blacklist tipc(\\s|$)"
        line: "blacklist tipc"
        create: true
        mode: 'u-x,go-rwx'
  when: rhel9cis_rule_3_2_2

- name: "Ensure rds kernel module is not available"
  block:
    - name: "Ensure rds kernel module is not available | modprobe"
      ansible.builtin.lineinfile:
        path: /etc/modprobe.d/rds.conf
        regexp: '^(#)?install rds(\\s|$)'
        line: "{{ item }}"
        create: true
        mode: 'u-x,go-rwx'
      loop:
        - install rds /bin/true
        - blacklist rds

    - name: "Ensure rds kernel module is not available | blacklist"
      ansible.builtin.lineinfile:
        path: /etc/modprobe.d/blacklist.conf
        regexp: "^(#)?blacklist rds(\\s|$)"
        line: "blacklist rds"
        create: true
        mode: 'u-x,go-rwx'
  when: rhel9cis_rule_3_2_3

- name: "Ensure sctp kernel module is not available"
  block:
    - name: "Ensure sctp kernel module is not available | modprobe"
      ansible.builtin.lineinfile:
        path: /etc/modprobe.d/sctp.conf
        regexp: '^(#)?install sctp(\\s|$)'
        line: "{{ item }}"
        create: true
        mode: 'u-x,go-rwx'
      loop:
        - install sctp /bin/true
        - blacklist sctp

    - name: "Ensure sctp kernel module is not available | blacklist"
      ansible.builtin.lineinfile:
        path: /etc/modprobe.d/blacklist.conf
        regexp: "^(#)?blacklist sctp(\\s|$)"
        line: "blacklist sctp"
        create: true
        mode: 'u-x,go-rwx'
  when: rhel9cis_rule_3_2_4
