

Ten system jest własnością CeZ.
*******************************************************************************
*  Do systemu, oraz połączonych z nim urządzeń i sieci, mogą zalogować się    *
*  i korzystać z niego wyłącznie osoby upoważnione przez CeZ.                 *
*  Każde nieautoryzowane wykorzystanie systemu może być potraktowane jako     *
*  złamanie obowiązujących regulaminów CeZ lub naruszenie przepisów prawa     *
*  i wiąże się z odpowiedzialnością na drodze postępowania administracyjnego, *
*  cywilnego lub karnego. Jako nieautoryzowane, traktowane są również         *
*  wszelkie próby weryfikacji mechanizmów i procedur zabezpieczeń wykonywane  *
*  bez upoważnienia ze strony CeZ.                                            *
*                                                                             *
*  Wszystkie próby zalogowania do systemu, zarówno udane jak i nieudane       *
*  oraz działania mające miejsce po zalogowaniu mogą być monitorowane bez     *
*  dalszych ostrzeżeń. Uzyskane w ten sposób logi audytowe mogą być           *
*  wykorzystane jako dowody w postępowaniu administracyjnym lub prawnym.      *
*  Wśród danych rejestrowanych podczas monitoringu zapisywany jest również    *
*  adres IP użytkownika. Użycie tego systemu, zarówno autoryzowane jak i      *
*  nieautoryzowane, oznacza zgodę na rejestrację danych gromadzonych          *
*  w trakcie jego monitorowania.                                              *
*******************************************************************************



