

UWAGA !!! System jest własnością Centrum e-Zdrowie.

Dostęp tylko dla autoryzowanych użytkowników. 
Zmiany wymagają zatwierdzenia zgodnie z obowiązującymi procedurami CeZ.
Aktywność na tym systemie może być monitorowana i rejestrowana. 



